<h1>Callback測試畫面</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 ">
            <div class="card" style="width:18rem;margin:auto">
                <img src="https://i.imgur.com/Gbtc8Zh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">首波募資專案</h5>
                    <p class="card-text">Call your dream back ,then we will give you promise and money.</p>
                    <a href="#" class="btn btn-warning">結帳</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 ">
            <div class="card" style="width:18rem;margin: auto">
                <img src="https://i.imgur.com/Gbtc8Zh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Callback首波募資專案</h5>
                    <p class="card-text">Call your dream back ,then we will give you promise and money.</p>
                    <a href="#" class="btn btn-warning">結帳</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 ">
            <div class="card" style="width:18rem;margin: auto">
                <img src="https://i.imgur.com/Gbtc8Zh.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">首波募資專案</h5>
                    <p class="card-text">Call your dream back ,then we will give you promise and money.</p>
                    <a href="#" class="btn btn-warning">結帳</a>
                </div>
            </div>
        </div>

    </div>
</div>